input {
    margin-top: 15px;
    padding: 10px;
    border-radius: 10px;
    border-width: 1px;
}

.button-container button {
    background-color: rgb(0, 123, 255);
    color: white;
    padding: 12px;
    border-radius: 10px;
    border: none;
    margin-right: 5px;
}

.show-password {
    margin-left: 5px;
}