body {
  font-family: Arial;
  margin-top: 0px;
  margin-bottom: 0px;
}

.send-button {
  background-color: rgb(25, 135, 84);
  color: white;
  padding: 12px 20px;
  border-radius: 10px;
  border: none;
  margin-left: 10px;
  font-size: 15px;
  cursor: progress;
}

.clear-button {
  background-color: rgb(238, 238, 238);
  color: black;
  padding: 12px 20px;
  border-radius: 10px;
  border: none;
  margin-left: 10px;
  font-size: 15px;
  cursor: progress;
}

.input {
  padding: 12px 20px;
  border-radius: 10px;
  border-width: 1px;
  font-size: 15px;
  flex-grow: 1;
  cursor: crosshair;
  color: green;
}

.chat-container {
  display: flex;
  margin-bottom: 60px;
}

.app-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display: flex;
  flex-direction: column; /* vertical */
}

.robot-message {
  display: flex;
  justify-content: start;
  align-items: start;
}

.user-message {
  display: flex;
  justify-content: end;
  align-items: start;
}

.chat-content {
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
  padding: 15px 20px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  max-width: 300px;
  color: black;
}

.profile-image {
  max-width: 45px;
}

.message-container {
  flex-grow: 1;
  margin-top: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}

.chat-message-time {
  font-size: small;
  color: gray;
  margin-top: 2px;
}